theControls {
  background-color: white;
}

.horizontal-card {
  display: inline-block;
  text-align: left;
  margin: 5px;
  padding: 18px 15px 0 15px;
  width: 70px;
  height: 40px;
  font-size: 20px;
  background-color: white;
  border: 1px black;
}

.vertical-card {
  display: inline-block;
  text-align: center;
  margin: 5px;
  padding: 18px 15px 0 15px;
  width: 40px;
  height: 70px;
  font-size: 20px;
  background-color: white;
  border: 1px black;
}

.template {
  display: none;
}

body {
  background-color: green;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.spades {
  color: black;
}

.clubs {
  color: black;
}

.hearts {
  color: red;
}

.diamonds {
  color: red;
}

.hl {
  border: 3px solid yellow;
  width: 1000px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.vl {
  border-left: 5px solid yellow;
  height: 90px;
  margin: 1px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
